name: Alerta Web Docker Image CI

env:
  IMAGE_NAME: alerta-web
  IMAGE_TAG: 8.7.0
  
on:
  push:
    branches:
      - multiplatform-image
#  pull_request:
#    branches:
#      - main
#    types:
#      - closed
    paths:
      - logo/**
      - plugins/**
      - Dockerfile
      - .github/workflows/docker-image.yml    

jobs:
  build:
#    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    container:
      image: jdrouet/docker-with-buildx:stable
    steps:
    - uses: actions/checkout@v3
    
    - name: docker:login
      env:
        DOCKERHUB_USERNAME: ${{secrets.DOCKERHUB_USERNAME}}
        DOCKERHUB_PASSWORD: ${{secrets.DOCKERHUB_PASSWORD}}
      run: |
        docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
        
    - name: build:alerta-web
      run: |
        docker run -d --rm --privileged tonistiigi/binfmt --install all
        docker buildx create --use
        docker buildx build . --push --file Dockerfile --build-arg version=$IMAGE_TAG --tag ${{secrets.DOCKERHUB_USERNAME}}/$IMAGE_NAME:multi-x-arch  --platform linux/arm64/v8,linux/amd64 --cache-from $IMAGE_NAME:latest
        docker images

#    - name: push:alerta-web
#      run: |
#        docker images
#        docker push ${{secrets.DOCKERHUB_USERNAME}}/$IMAGE_NAME:multi-x-arch
#        docker push ${{secrets.DOCKERHUB_USERNAME}}/$IMAGE_NAME:latest
